@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.full-page {
  display: flex;
  height: 100vh;
}

#company {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.motto {
  margin-bottom: 15px;
}

.image-container {
  display: flex;
  width: 75%;
  background: linear-gradient(to bottom, transparent, 80%, blue), url('imgs/ref3size.webp');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  gap: 60px;
  align-items: center;
  padding: 3.9vw;
  background-color: aliceblue;
}

.form-container{
  display:flex;
  flex-direction: column;
  gap: 15px

}

button {
  border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


label {
  outline: none;
}

input{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-bottom-color: black;
  font-size: 20px;
  outline: 0;
  background: transparent;
}

